
@{
    ViewData["Title"] = "CreateProfile";
}

<h1>Create Proile</h1>
<p>Input information below to create your profile:</p>
<br />

<form method="post" action="/CreateProfile/MyPage">
    <h3>First Name: </h3><input type="text" name="FirstName" />
    <h3>Last Name: </h3><input type="text" name="LastName" />
    <br /><br />
    <button type="submit">Submit</button>
</form>

